In [14]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# Using Pandas and Jupyter Notebook, create a report that includes the following data.

# Your report must include a written description of at least two observable trends based on the data.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [28]:
# District Summary
# Perform the necessary calculations and then create a high-level snapshot of the district's key metrics in a DataFrame. 
#Include the following:

# Total number of unique schools, 
school_count = len(school_data)
print(f"Number of schools: {school_count}")

# print("Number of schools:",school_count) alternate code

# Total students, 
student_count = len(student_data)
print(f"Number of students: {student_count}")

# Total budget
total_budget = school_data ['budget'].sum()
print("Total Budget = ", total_budget)
# Average math score
average_mathscore = student_data["math_score"].mean()
print(average_mathscore)
# Average reading score 
average_readingscore = student_data["reading_score"].mean()
print(average_readingscore)
# % passing math (the percentage of students who passed math)
limit = 70
column_m = student_data["math_score"]
number_passing_math = column_m [column_m >= 70].count()
print('The number of students passing math was', number_passing_math)
print('The percentage of students passing math was', number_passing_math/student_count)
percentage_passing_math = number_passing_math/student_count * 100
# % passing reading (the percentage of students who passed readin
column_r = student_data["reading_score"]
number_passing_reading = column_r [column_r >= 70].count()

print('The number of students passing reading was', number_passing_reading)
print('The percentage of students passing reading was', number_passing_reading/student_count)
percentage_passing_reading = number_passing_reading/student_count * 100
# % overall passing (the percentage of students who passed math AND reading)
math_condition = (column_m >= 70)
reading_condition = (column_r >= 70)
number_passing_mathandreading = student_data [math_condition & reading_condition] ["Student ID"].count()
percentage_passing_mathandreading = number_passing_mathandreading/student_count * 100
# build new dataframe with these calculations
# df = pd.DataFrame(
# {"a" : [4, 5, 6],
# "b" : [7, 8, 9],
# "c" : [10, 11, 12]},
# index = [1, 2, 3])

district_summary = pd.DataFrame ({
   "Total Schools" : [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_mathscore],
    "Average Reading Score": [average_readingscore],
    "% Passing Math": [percentage_passing_math],
    "% Passing Reading": [percentage_passing_reading],
    "% Overall Passing" : [percentage_passing_mathandreading] 
})

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

Number of schools: 15
Number of students: 39170
Total Budget =  24649428
78.98537145774827
81.87784018381414
The number of students passing math was 29370
The percentage of students passing math was 0.749808526933878
The number of students passing reading was 33610
The percentage of students passing reading was 0.8580546336482001
The percentage of students passing both was 0.6517232575950983

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
# School Summary

# Perform the necessary calculations and then create a DataFrame that summarizes key metrics about
# each school.

# Include the following: School name, School type, Total students, Total school budget, 
# Per student budget, Average math score, 
#school name and school type are already defined? 

# Average reading score, % passing math (the percentage of students who passed math),

# % passing reading (the percentage of students who passed reading)

# % overall passing (the percentage of students who passed math AND reading)

# df = pd.Dataframe

In [ ]:
# Highest-Performing Schools (by % Overall Passing)

# Sort the schools by % Overall Passing in descending order and display the top 5 rows.

# DataFrame.sort_values(by, *, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)

# Save the results in a DataFrame called "top_schools".wi

In [ ]:
# Lowest-Performing Schools (by % Overall Passing)

# Sort the schools by % Overall Passing in ascending order and display the top 5 rows.

# Save the results in a DataFrame called "bottom_schools".

In [ ]:
# Math Scores by Grade

# Perform the necessary calculations to create a DataFrame that lists the average math score for 
# students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:

# Reading Scores by Grade
# Create a DataFrame that lists the average reading score for students of each grade level 

# (9th, 10th, 11th, 12th) at each school.

In [ ]:
# Scores by School Spending

# Create a table that breaks down school performance based on average spending ranges (per student).

# Use the code provided below to create four bins with reasonable cutoff values to group school spending.
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Use pd.cut to categorize spending based on the bins.

# Use the following code to then calculate mean scores per spending range.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

# Use the scores above to create a DataFrame called spending_summary.
#Initializ
data = 
spending_summary = pd.Dataframe(data)
# Include the following metrics in the table:
# Average math score
# Average reading score
# % passing math (the percentage of students who passed math)
# % passing reading (the percentage of students who passed reading)
# % overall passing (the percentage of students who passed math AND reading)

In [ ]:
# Scores by School Size  

# Use the following code to bin the per_school_summary.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.

# Create a DataFrame called size_summary that breaks down school performance based on school size (small, medium, or large).
size_summary = pd.Dataframe(data)

In [ ]:
# Scores by School Type

# Use the per_school_summary DataFrame from the previous step to create a new DataFrame called type_summary.

#This new DataFrame should show school performance based on the "School Type".