In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# Using Pandas and Jupyter Notebook, create a report that includes the following data.
# Your report must include a written description of at least two observable trends based on the data.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [ ]:
# District Summary
# Perform the necessary calculations and then create a high-level snapshot of the district's key metrics in a DataFrame. 
#Include the following:
# Total number of unique schools, Total students, Total budget, Average math score, Average reading score, 
# % passing math (the percentage of students who passed math)
# % passing reading (the percentage of students who passed reading)
# % overall passing (the percentage of students who passed math AND reading)

In [ ]:
# School Summary
# Perform the necessary calculations and then create a DataFrame that summarizes key metrics about each school.
# Include the following: School name, School type, Total students, Total school budget, Per student budget, Average math score, 
# Average reading score, % passing math (the percentage of students who passed math), % passing reading (the percentage of students who passed reading)
# % overall passing (the percentage of students who passed math AND reading)

In [ ]:
# Highest-Performing Schools (by % Overall Passing)
# Sort the schools by % Overall Passing in descending order and display the top 5 rows.
# Save the results in a DataFrame called "top_schools".

In [ ]:
# Lowest-Performing Schools (by % Overall Passing)
# Sort the schools by % Overall Passing in ascending order and display the top 5 rows.
# Save the results in a DataFrame called "bottom_schools".

In [ ]:
# Math Scores by Grade
# Perform the necessary calculations to create a DataFrame that lists the average math score for 
# students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
# Reading Scores by Grade
# Create a DataFrame that lists the average reading score for students of each grade level 
# (9th, 10th, 11th, 12th) at each school.

In [ ]:
# Scores by School Spending
# Create a table that breaks down school performance based on average spending ranges (per student).
# Use the code provided below to create four bins with reasonable cutoff values to group school spending.
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
# Use pd.cut to categorize spending based on the bins.
# Use the following code to then calculate mean scores per spending range.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()
# Use the scores above to create a DataFrame called spending_summary.
# Include the following metrics in the table:
# Average math score
# Average reading score
# % passing math (the percentage of students who passed math)
# % passing reading (the percentage of students who passed reading)
# % overall passing (the percentage of students who passed math AND reading)

In [ ]:
# Scores by School Size
# Use the following code to bin the per_school_summary.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
# Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.

# Create a DataFrame called size_summary that breaks down school performance based on school size (small, medium, or large).

In [ ]:
# Scores by School Type
# Use the per_school_summary DataFrame from the previous step to create a new DataFrame called type_summary.
#This new DataFrame should show school performance based on the "School Type".